<!DOCTYPE html>
<html>
<head>
  <title>Create Sub-Service</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-3">
  <form action="/sub-services" method="post">
    <div class="form-group">
      <label>Title:</label>
      <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
      <label>Category ID:</label>
      <input type="number" name="serviceCategoryId" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
</body>
</html>